<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="comments" th:remove="tag">
    <div class="col-2 offset-1">
        <a th:href="'viewUser?id=' + ${comment.getUser().getId()}">
            <img th:src="${comment.getUser().getImgPath()}" onerror="this.src='images/usr.jpg'" style="height:54px; width:54px;">
        </a>
        <span style="font-size:10px;" th:text="${comment.getDate().toLocalDate()}"></span>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                <a th:href="'viewUser?id=' + ${comment.getUser().getId()}">
                    <div style="display: inline-block" th:text="${comment.getUser().getName()}" class="profile-user title-name"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div th:text="${comment.getText()}"></div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div th:if="${comment.getUser().getEmail().equals(userEmail)}"
             style="cursor: pointer;"
             th:id="${comment.getId()}"
             th:postId="${postId}"
             onclick="deleteComment(this.getAttribute('id'), this.getAttribute('postId'), event);">
            <img src="images/deleteIcon.jpg" onerror="this.style.display='none'" style="min-height:25px; width:25px; max-height:25px; max-width:25px;">
        </div>
    </div>
</div>

</html>