<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="posts" th:if="${posts != null}">
    <div th:each="post : ${posts}" class="postCard card mt-3">
        <div class="card-body" style="width:100%;">
            <div class="row">
                <div class="col-2">
                    <a th:href="'viewUser?id=' + ${post.getUser().getId()}">
                        <img th:src="${post.getUser().getImgPath()}" onerror="this.src='images/usr.jpg'" style="height:54px; width:54px;">
                    </a>
                    <span style="font-size:10px;" th:text="${post.getDate().toLocalDate()}"></span>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <a th:href="'viewUser?id=' + ${post.getUser().getId()}">
                                <div style="display: inline-block" th:text="${post.getUser().getName()}" class="profile-user title-name"></div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <a>
                                    <img th:src="${post.getImgPath()}" onerror="this.style.display='none'" style="min-height:120px; width:120px; max-height:160px; max-width:160px;">
                                </a>
                            </div>
                            <div th:text="${post.getText()}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div th:if="${post.getUser().getEmail().equals(userEmail)}"
                        style="cursor: pointer;"
                        th:id="${post.getId()}"
                        onclick="deletePost(this.getAttribute('id'), event);">
                        <img src="images/deleteIcon.jpg" onerror="this.style.display='none'" style="min-height:25px; width:25px; max-height:25px; max-width:25px;">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-light comment-button"
                type="button"
                onclick="collapsePost(event)";
                data-toggle="collapse"
                aria-expanded="false"
                th:attr="aria-controls=${post.getId()},
                data-target='.' + ${post.getId()}">
            <span style="top:3px;">Comentários</span>
        </button>
        <div th:attr="class=${post.getId()} + ' ' + 'collapse'">
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <textarea placeholder="Novo comentário" style="resize: none; width:100%;" rows="1" maxlength="200" class="comment-text form-control"></textarea>
                        <div class="mt-2 text-center">
                            <button th:id="${post.getId()}" onclick="writeComment(event)" class="btn btn-success">Comentar</button>
                        </div>
                        <div class="comments">
                            <div th:if="${post.getComments() != null}" th:remove="tag">
                                <div class="row mt-3 commentRow"
                                     th:each="com : ${post.getComments()}"
                                     th:include="fragments/comments :: comments"
                                     th:with="comment=${com},postId=${post.getId()}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>