<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

        <div th:fragment="profile" class="profile-sidebar bg-light">
            <div class="profile-userpic">
                <img th:src="${usr.getImgPath()}" onerror="this.src='images/usr.jpg'" class="img-responsive">
            </div>
            <div class="profile-usertitle">
                <div th:text="${usr.getName()}" class="profile-usertitle-name">
                </div>
                <div th:text="${usr.getDescription()}" class="text-justify profile-usertitle-description pl-2 pr-2">
                </div>
            </div>
            <hr>
            <div class="text-center pt-2">
                <h5>Notificações</h5>
            </div>
            <input type="hidden" th:value="${usr.getId()}" id="userId" />
        </div>
</html>