.logoImage{
    height:auto;
    width:150px;
}

.helperCenter {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* CSS General template */

.comment-button{
   width:100%;
   height:17px;
   font-size:12px;
   border:none;
}

.comment-button:focus{
    border:none !important;
    outline:none !important;
}

body {
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

html, body {
    height: 90%;
}

/* Search User Page */

.search-userpic img {
  height:85%;
  width:60%;
  float: none;
  -webkit-border-radius: 80% !important;
  -moz-border-radius: 80% !important;
  border-radius: 80% !important;
  display: block;
  margin-left: auto;
  margin-right: auto
  min-width:124px;
  min-height:130px;
}



/* Profile container */

.container{
  height:100%;
  min-height:100%x;
}

.profile {
  margin: 20px 0;
  height:100%;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  height:100%;
}

.profile-userpic img {
  float: none;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width:124px;
  min-height:130px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-description {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-name {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  height:100%;
  padding: 20px;
  background: #fff;
  min-height: 460px;
  overflow-y: auto;
  max-height:670px;
}