<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>

<div class="container">

    <div th:insert="fragments/header.html::header" th:remove="tag"></div>

    <div class="row profile">

        <!--   Adiciona o perfil programaticamente     -->
        <div class="col-md-3" id="resultsBlock">

        </div>

        <div class="col-md-9">
            <div class="profile-content bg-light">
                <div class="container">
                    <h3 class="text-center">Buscar Usuários</h3>
                    <hr>
                    <form method="post" id="changePsw" name="changePsw" action="#" th:action="@{/changePassword}" th:object="${ChangePswRequest}">
                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" th:field="*{password}" class="form-control" placeholder="Senha Atual" id="password" required>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" th:field="*{newPassword}" class="form-control" placeholder="Nova Senha" id="newPassword" required>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Confirmar Senha" id="confirm_password" required>
                            </div>
                        </div>
                        <div th:if="${error != null}" class="row mt-1">
                            <div class="col">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <a type="button" href="/home" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type="submit" id="confirm" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#newPassword, #confirm_password').on('keyup', function () {
          if ($('#newPassword').val() == $('#confirm_password').val()) {
            $('#newPassword').css('border-color', 'green');
            $('#confirm_password').css('border-color', 'green');
            $('#confirm').prop('disabled', false);
          } else {
            $('#newPassword').css('border-color', 'red');
            $('#confirm_password').css('border-color', 'red');
            $('#confirm').prop('disabled', true);
        	}
        });
});
</script>