<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>

    <div class="container">
        <div class="row bg-white mt-2">
            <div class="col-2 offset-1">
                <img src="images/logo.jpg" class="logoImage">
            </div>
            <div class="col my-auto">
                <h1>Bem-vindo(a) à Rede SocialPets!</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="p-5 card mx-auto" style="width: 30rem;">
                    <div>
                        <h5>Não possui cadastro?
                            <a href="#" data-toggle="modal" data-target="#newUser" class="p-1" style="color:green;"> Clique aqui
                                <img class="pb-1 helperCenter" src="images/paw.jpeg" style="max-width:16px; height:auto; vertical-align:middle;">
                            </a>
                        </h5>
                    </div>
                    <form class="mt-3" method="post" id="login" name="login" action="/login">
                        <div class="form-title">
                            <h2>Login</h2>
                        </div>
                        <div class="row mt-1">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label" for="username">E-mail</label>
                                    <input class="form-control"
                                           type="text"
                                           name="username"
                                           id="username"
                                            required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-label" for="password">Senha</label>
                                    <input class="form-control"
                                           type="password"
                                           name="password"
                                           id="password"
                                            required>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">
                                <div class="form-group button">
                                    <button type="submit" class="btn btn-block btn-success">Entrar</button>
                                    <p class="mt-3"><a href="#">Esqueceu sua senha?</a></p>
                                </div>
                            </div>
                        </div>
                        <div th:if="${error != null}" class="row mt-1">
                            <div class="col">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="mt-5 modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novo Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form method="post" id="signup" name="signup" action="#" th:action="@{/signup}" th:object="${SignUpRequest}">
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="text" th:field="*{email}"  class="form-control" placeholder="E-mail" id="email" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="password" th:field="*{senha}"  class="form-control" placeholder="Senha" id="senha" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Confirmar Senha" id="confirmarSenha" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="text" th:field="*{nome}"  class="form-control" placeholder="Nome" id="nome" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="confirm" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#senha, #confirmarSenha').on('keyup', function () {
          if ($('#senha').val() == $('#confirmarSenha').val()) {
            $('#senha').css('border-color', 'green');
            $('#confirmarSenha').css('border-color', 'green');
            $('#confirm').prop('disabled', false);
          } else {
            $('#senha').css('border-color', 'red');
            $('#confirmarSenha').css('border-color', 'red');
            $('#confirm').prop('disabled', true);
        	}
        });
});
</script>