<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html::header" th:remove="tag"></div>

    <div class="row profile">

        <!--   Adiciona o perfil programaticamente     -->
        <div class="col-md-3" id="resultsBlock">

        </div>

        <div class="col-md-9">
            <div class="profile-content bg-light">
                <div class="container">
                    <h3 class="text-center">Buscar Usuários</h3>
                    <hr>
                    <form method="post" id="searchUser" name="searchUser" action="#" th:action="@{/searchUser}" th:object="${SearchUserRequest}">
                        <div class="row mt-4">
                            <div class="col">
                                <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome" id="nome">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <a type="button" href="/home" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                    <hr class="mt-3 mb-3">

                    <div th:if="${listUsers == null}">
                        <img style="margin-right:auto; margin-left:auto; display:block; height:30%; width:30%;" src="images/searchDog.png">
                    </div>

                    <div th:if="${listUsers != null}">
                        <div class="row" th:each="user : ${listUsers}">
                            <div class="col-4 search-userpic">
                                <a th:href="'viewUser?id=' + ${user.getId()}"><img th:src="${user.getImgPath()}" onerror="this.src='images/usr.jpg'" class="img-responsive"></a>
                            </div>
                            <div class="col-8">
                                <div class="profile-usertitle">
                                    <a th:href="'viewUser?id=' + ${user.getId()}"><div th:text="${user.getName()}" class="profile-usertitle-name"></div></a>
                                    <div th:text="${user.getDescription()}" class="text-justify profile-usertitle-description pl-2 pr-2">
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div th:if="${listUsers.size() == 0}">
                            <h5 class="text-center mt-4 mb-4">Nenhum Usuário Encontrado</h5>
                            <img style="margin-right:auto; margin-left:auto; display:block; height:30%; width:30%;" src="images/foundNone.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>