<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>
<div class="container">

        <div th:insert="fragments/header.html::header" th:remove="tag"></div>

        <div class="row profile">

            <!--   Adiciona o perfil programaticamente     -->
            <div class="col-md-3" id="resultsBlock">

            </div>

            <div class="col-md-9">
                <div class="profile-content bg-light">
                    <div class="container">
                        <h3 class="text-center">Buscar Usuários</h3>
                        <hr>
                        <form enctype="multipart/form-data" method="post" id="updateUsr" name="updateUsr" action="#" th:action="@{/updateUser}" th:object="${UpdateUserRequest}">
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="file" th:field="*{imagem}" name="imagem" id="imagem" />
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome" id="nome">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="text" th:field="*{email}" class="form-control" placeholder="E-mail" id="email">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Telefone" id="phoneNumber">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <textarea type="text" maxlength="150" rows="4" th:field="*{description}" class="form-control" placeholder="Descrição" id="description"></textarea>
                                </div>
                            </div>
                            <div th:if="${error != null}" class="row mt-1">
                                <div class="col">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <a type="button" href="/home" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
</html>