<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html::header" th:remove="tag"></div>

    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar bg-light">
                <div class="profile-userpic">
                    <img th:src="${usr.getImgPath()}" onerror="this.src='images/usr.jpg'" class="img-responsive">
                </div>
                <div class="profile-usertitle">
                    <div th:text="${usr.getName()}" class="profile-usertitle-name">
                    </div>
                    <div th:text="${usr.getDescription()}" class="text-justify profile-usertitle-description pl-2 pr-2">
                    </div>
                </div>
                <div class="profile-userbuttons">
                    <div th:if="${isFollowing}">
                        <button onclick="unfollowUser();" class="follow btn btn-danger">Seguindo</button>
                        <button onclick="followUser();"class="follow btn d-none btn-success">Seguir</button>
                    </div>
                    <div th:unless="${isFollowing}">
                        <button  onclick="unfollowUser();" class="follow btn d-none btn-danger">Seguindo</button>
                        <button  onclick="followUser();" class="follow btn btn-success">Seguir</button>
                    </div>
                    <input type="hidden" th:value="${usr.getId()}" id="userId" />
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content profile-scroll bg-light">
                <h3 class="text-center">Mural</h3>
                <hr id="top-bar-posts" class="mb-2">
                <div class="posts">

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>