<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/imports.html::imports" th:remove="tag"></div>
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html::header" th:remove="tag"></div>

    <div class="row profile">

        <!--   Adiciona o perfil programaticamente     -->
        <div class="col-md-3" id="resultsBlock">

        </div>

        <div class="col-md-9">
            <div class="profile-content bg-light">
                <div class="container">
                    <h3 class="text-center">Seguindo</h3>
                    <hr>

                    <div th:if="${listUsers == null}">
                        <h5 class="text-center mt-4 mb-4">Você ainda não seguiu ninguém.</h5>
                        <img style="margin-right:auto; margin-left:auto; display:block; height:30%; width:30%;" src="images/searchDog.png">
                    </div>

                    <div th:if="${listUsers != null}">
                        <div class="row" th:each="user : ${listUsers}">
                            <div class="col-4 search-userpic">
                                <a th:href="'viewUser?id=' + ${user.getId()}"><img th:src="${user.getImgPath()}" onerror="this.src='images/usr.jpg'" class="img-responsive"></a>
                            </div>
                            <div class="col-8">
                                <div class="profile-usertitle">
                                    <a th:href="'viewUser?id=' + ${user.getId()}"><div th:text="${user.getName()}" class="profile-usertitle-name"></div></a>
                                    <div th:text="${user.getDescription()}" class="text-justify profile-usertitle-description pl-2 pr-2">
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
</html>